# Gitignore file for the configuration directory

# ignore temporary files
*~
.*~
# macOS specific files
**/.DS_Store
**/._*

# ignore build files
build/

# ignore platform specific files
/user.yaml
/installation.yaml
*.userdb/
test.txt

/default.yaml
